.cube1{
  width: 400px;
  height: 300px;
  background: linear-gradient(#6f48d7, #ca5696);
  border: 2px solid black;
  box-shadow: 2px 3px 4px 5px #000;
  z-index: 2;
}
.a{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  z-index: 1;
}
.a1{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}
.b{
  width: 20px;
  height: 20px;
  border: 2px solid black;
}
.b1{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}
.b1:hover{
  display: none;
}
.c{
  width: 20px;
  height: 20px;
  border: 2px solid black;
}
.c1{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}
.c1:hover{
  background: #fff;
  width: 50px;
  height: 50px;
  opacity: 50%;/*透明度*/
  transition: 1s ease-in;/*過渡*/
}
.up1{
  padding: 10px;
  display: flex; 
  justify-content: space-between;
}
.left{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-around; /*項目以等間距顯示*/
  align-items: center; /*項目在容器的垂直中心對齊*/
}
.right{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.up2{
  display: flex; 
  justify-content: center;
}
.mid{
  width: 300px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
.tri1{
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black;
}
.tri2{
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black;
  align-self: flex-end;
}
.tri2:hover{
  background: #fff;
}